h1 {font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-seri;
  font-size: 36px;
  font-weight: 100;}
body {background-color: #FFDCD5;}
section {float: left;
width:400px;height: 100;}
aside {width: 800px; float: right;
}
